* {
    box-sizing:border-box;
}
header{
  padding: 20px;
  background-color: red;

}
.tag{
  color: #ffffff;
  font-weight: normal;
  font-family: Times;
  text-decoration: none;
  font-size: 20px;
  padding: 20px

}
.imggallery{
  display: block;
  margin: 0 auto;
}
footer{
  background: #000000;
  padding: 20px;
}
.footer1{
  color: #ffffff;
  font-weight: normal;
  font-family: Times;
  text-decoration: none;
  font-size: 20px;
  padding: 20px

}
