body{

    margin:20px auto;
    width:960px;
}
#header{
  color:#DC143C;}
  span{text-decoration:underline;

  }
.classmain-point  {font-family:"Courier New",Courier, monospace

  }
h2{font-weight:bold;

}
